<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculation forms</title>
</head>
<body>
    <form action="/form" method="post">

     <input type="number" id="n1" name="n1">
     <input type="number" id="n2" name="n2">
     <button type="submit" value="Calculate" >submit</button>
    <p> Result =  <%= result %> </p>
<!-- <p>Result = <%= result %> </p> -->

    </form>
   
</body>
</html>