<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABout us page</title>
</head>
<body>
    <h1>About Us</h1>
    <p><b><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore dolorem, ex quaerat necessitatibus assumenda eos dolores minima repellat perspiciatis ullam culpa placeat alias recusandae aperiam atque cumque nostrum aliquid dolore?</i></b></p>
    <a href="">Linked In</a>
    <a href="">Github</a>
    <a href="">Email</a>
</body>
</html>