.classBox{
    height: 350px;
    width: 500px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-top:20px;
    padding: 20px;
      /* box-shadow: 0 4px 20px black; */
    
}
/* .classBox:hover {
  
} */